
* {
    margin: none;
    font-family: 'Rebond', 'san-serif';
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to right, #916e9c, #a584ae, #ba9ac0, #ceb1d2, #e3c8e5, #e1ceee, #ded4f7, #dadbfe, #b5d4f8, #8ecdea, #6dc4d1, #5ebab0);
    width: 70vw;
    margin: auto;
}

h1 {
    padding: 1.5rem;
}

h1, h2 {
    text-align: center;
}

h3 {
    margin: 0.5rem;
}

hr {
    background-color: #75179b;
    width: 70vw;
    height: 5px;
    border-radius: 5px;
    margin: 2rem auto;
}

/* 
palate
#916E9C purp
#FFE8FF pink
#5EBAB0 green
#FFFADE beige

*/

/* header */
header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

/* navigation */
nav {
    text-align: center;
    line-height: 2.5rem;
}

nav .cat {
    text-decoration: none;
    margin: 1rem;
    font-size: large;
    border: 2px solid #75179b;
    padding: 0.3rem;
    border-radius: 5px;
}

nav .cat:hover {
    width: 100%;
    color: whitesmoke;
    background-color: #75179b;
}

/* Search bar */
#searchbar {
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    box-sizing: border-box;
    display: block;
}

#list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: rgba(245, 245, 245, 0.8);
    left: 33%;
    width: 34vw;
    max-height: 50vh;
    overflow: auto;
}

#list a {
    text-decoration: none;
}
 
.prizes {
    font-size: 1.2em;
    border-bottom: 1px solid #ccc;
    animation: fadeIn 0.5s ease-in-out;
}

.prizes:hover  a {
    width: 100%;
    color: whitesmoke;
    background-color: #75179b;
}

.prizes:hover {
    color: whitesmoke;
    background-color: #75179b;
}
 
.prizes:last-child {
    border-bottom: none;
}
 
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* BTT button */

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 70px;
    right: 6vw;
    border: 1px solid grey;
    box-shadow: 4px 4px 5px 1px #888888;
    border-radius: 21px;
}

.btt-link {
    cursor: pointer;
    color: black;
}

.btt-link i {
    font-size: x-large;
}

/* categories */

.category {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* prizes */

.p-holder {
    flex: 1;
    height: fit-content;
    max-height: 400px;
    width: 20vw;
    min-width: 25vw;
    max-width: 50vw;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 2px solid grey;
    text-align: center;
    background-color: rgba(255, 250, 222, 0.3);
    border-radius: 5px;
    box-shadow: 4px 4px 5px 1px #888888;
    overflow: auto;
}

.p-holder p {
    margin: 0.25rem;
}

.p-image img {
    width: 80%;
    height: 80%;
    overflow: hidden;
}


/* bid-form */
#form-holder {
    padding: 2rem;
    border: 2px solid grey;
    border-radius: 5px;
    min-width: 80%;
    background-color: rgba(255, 250, 222, 0.3);
    box-shadow: 4px 4px 5px 1px #888888;
}

#bid-form {
    display: block;
    clear: both;
}

#bid-form input {
    width: 100%;
    margin: 1rem 0rem;
}

form #consent {
    margin: 1rem;
    display: inline-block;
    max-width: 50px;
}

#submit {
    margin: 1rem auto;
    display: block;
    box-shadow: 4px 4px 5px 1px #888888;
    min-width: 20vw;
    max-width: 30vw;
    height: 30px;
    font-size: larger;
    border: 2px solid #75179b;
    color: #75179b;
    border-radius: 5px;
}

#submit:hover {
    border:2px solid whitesmoke;
    background-color: #75179b;
    color: whitesmoke;
}

/* footer */
footer div {
    text-align: center;
    margin: 2rem auto;
}

/* media queries */
/* Medium screens */
@media all and (max-width: 800px) {
    body {
        width: 95vw;
    }

    .p-pholder {
      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      justify-content: space-around;
    }
  }
  
  /* Small screens */
  @media all and (max-width: 500px) {
    .p-holder {
      /* On small screens, no longer using row direction but column */
      flex-direction: column;
      max-width: 90vw;
      padding: 0.25rem;
    }

    .cat {
        display: none;
    }

    header > div img {
        display: none;
    }

    h1 {
        padding: unset;
    }

    h3 {
        margin: 0.25rem auto;
        font-size: medium;
    }

    #searchbar {
        width: 80vw;
    }

    hr {
        margin: 0.5rem auto;
    }
  }

  /* https://script.google.com/macros/s/AKfycbyqrH6fXaEgW86AwnWquNHfoD2Ug5BlJa0KE4dN3I2AcbyNIaYnPY80lTeH0QeKDr11-Q/exec */