
* {
    margin: none;
    font-family: 'Rebond', 'san-serif';
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    margin: auto;
}

.activeNav {
    background-color: #9ed6f0;
    color: #394a5e !important;
    font-weight: bold;
}

/* Header */
header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

h1 {
    color: #394a5e;
}

p {
    margin: unset;
}

/* Navigation */
#main-nav-holder {
    max-width: 100%;
    margin: 0 auto;
    background-color: #394a5e;
    height: 1.5rem;
}

#main-nav-links a {
    color: whitesmoke;
    text-decoration: none;
    padding: 0.2rem 0.9rem;
}

#main-nav-links hr {
    width: 2rem;
    float: left;
    background-color: #9ed6f0;
    margin: 0.25rem 0;
}

#maincont {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

/* 
light blue #9ed6f0
dark blue #394a5e */

/* Contact form */
#contact-form {
    display: flex;
    flex-direction: column;
}

#contact-form label {
    margin: 1rem 0;
}

#contact-form input {
    padding: 0.2rem 0;
}
#message {
    height: fit-content;
    min-height: 5rem;
}

#emailSubmit {
    width: 70%;
    margin: 2rem auto;
    height: 2rem;
    background-color: #9ed6f0;
    color: #394a5e;
    border: none;
    border-radius: 3px;
    font-size: large;
}

/* Main page */

#info {
    background-color: rgb(220, 56, 220);
    width: 100%;
}

#info-holder {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

/* Social event cards */
#card-holder {
    background-color: azure;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0rem;
    margin: 2rem auto;
    min-height: 36vh;
    max-height: 100vh;
}

.event-card {
    background-image: url(/assets/images/gen/social.jpg);
    background-size: cover;
    background-color: #9ed6f0;
    width: 30%;
    height: 300px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.date-holder {
    position: relative;
    top: 4px;
    left: 4px;
    background-color: #004494;
    color: #d5e3f1;
    border-radius: 5%;
    width: fit-content;
    font-size: x-large;
    padding: 0px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.soc-det-holder {
    height: 200px;
    background-color: rgb(255 255 255 / 40%);
    color: #892c89;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0 1rem;
}

.soc-det-holder > a {
    bottom: 0;
}

/* BTT button */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 70px;
    right: 6vw;
    border: 1px solid grey;
    box-shadow: 4px 4px 12px 1px #888888;
    border-radius: 21px;
}

.btt-link {
    cursor: pointer;
    color: black;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.btt-link i {
    font-size: x-large;
}

/* Footer */
footer div {
    text-align: center;
    margin: 2rem auto;
    padding-top: 8rem;
}

footer a {
    color: unset;
}

/* Media queries */
@media all and (max-width: 800px) {
    body {
        width: 95vw;
    }
}

@media all and (max-width: 500px) {
    footer a {
        display: block;
    }
}

/* Events slideshow */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  max-width: 33%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(235, 23, 23);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Social events cards */
